# محیط مجازی
venv/
env/
ENV/

# فایل‌های کامپایل شده پایتون
__pycache__/
*.pyc
*.pyo

# فایل‌های محیطی و مخفی
.env
.vscode/
.idea/

# فایل‌های مربوط به بیلد و دیتابیس
*.db
*.sqlite3
dist/
build/
*.egg-info/